# petclinic-cd/k8s/helm/values-tracing-server.yaml
replicaCount: 1

image:
  repository: openzipkin/zipkin
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 9411

resources:
  limits:
    memory: 512Mi
  requests:
    memory: 256Mi